canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #000;
    font-family: sans-serif;

}

h4 {
    margin-bottom: 1em;
}

.container {
    width: 800px;
    margin: auto;
}

#embed-html {
    width: 800px;
    height: 800px;
}

#instructions {
    width: 760px;
    border-radius: 20px;
    padding: 20px;
    background: #ddd;
    color: #000;
}

#license {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

#attr-link {
    text-decoration: none;
}

#attr-link:link {
    color: #fff;
}

#attr-link:visited {
    color: #ccc;
}

#attr-link:hover {
    text-decoration: underline;
    color: #fff;
}

#license > a > img {
    float: right;
}

